:root {
    --secondary-color: rgb(232, 222, 209);
    --text-color-pimar: #dda0dd;
    --text-color-secondary: #0c1445;
}
body {
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
   width: 100%;

}
.image{
    width: 40px;
}
h1{
    color: var(--text-color-pimar);
    font-family: monospace;
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;
}
  
p {
    color: var(--text-color-pimar);
    text-align: center;
    font-family: monospace;
    margin-top: 20px;
}

.col{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
}