:root {
    --secondary-color: rgb(255, 255, 247);
    --text-color-pimar:  rgb(245, 245, 217);
    --text-color-secondary: #bd4abf;
    --dark-color: #000000;
}
body {
   
   width: 100%;
   overflow-x:hidden;
}
.image{
    width: 40px;
}
h1, h3{
    color: var(--dark-color);
    font-family: monospace;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
}
  
p {
    color: var(--dark-color);
    text-align: center;
    font-family: monospace;
    margin-top: 20px;
}
.col{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow-x:hidden;
}
.row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}
.btn {
    background: #343A40;
    color: var(--text-color-pimar);
}
.btn:hover {
    color: var(--text-color-pimar);
    background-color: #FE8CC0;
}
.card {
    background-color: var(--secondary-color);
    overflow-x:hidden;
}
.card-title {
    color: black;
    display: flex;
    justify-content: center;
}
.card-text {
    color:var(--dark-color);
    
}
