:root {
    --secondary-color: rgb(255, 255, 247);
    --text-color-pimar:  rgb(245, 245, 217);
    --text-color-secondary: #bd4abf;
    --dark-color: #000000;
}
body {
    background: var(--text-color-pimar);
   width: 100%;
   overflow-x:hidden;
}
.image{
    width: 40px;
}
h1, p {
    text-align: center;
    margin-top: 5px;
    font-family: monospace;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-title{
    text-align: center;
}
.btn {
    background: #343A40;
    color: var(--text-color-pimar);
}
.btn:hover {
    color: var(--text-color-pimar);
    background-color: #0c1445;
}
.col{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow-x:hidden;
}