:root {
    --secondary-color: rgb(255, 255, 247);
    --text-color-pimar:  rgb(245, 245, 217);
    --text-color-secondary: #bd4abf;
}
body {
   
   width: 100%;
   overflow-x:hidden;
}
.image{
    width: 40px;
}
h1, h3{
    color: black;
    font-family: monospace;
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;
}
  
p {
    color: black;
    text-align: center;
    font-family: monospace;
    margin-top: 20px;
}
.col{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn {
    background: #343A40;
    color: var(--text-color-pimar);
}
.btn:hover {
    color: var(--text-color-pimar);
    background-color: #0c1445;
}
.card {
    background-color: var(--secondary-color);
}
.card-title {
    color: black;
    display: flex;
    justify-content: space-around;
}
.card-text {
    color: black;
    
}
